.form__chat {
  display: flex;
  flex-direction: row !important;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 20px);
}

.main__header {
  display: flex;
  flex-direction: column;
}

.main__hr {
  width: 100%;
  border: 1px solid var(--dark-300);
  box-sizing: border-box;
  margin: 0;
}

.input.chat {
  box-sizing: border-box;
  width: 100%;
  margin: 12px 0;
}

.button__link {
  margin: 12px;
}

.button__send {
  margin: 12px;
}

.main__settings {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.empty-window {
  display: flex;
  margin: auto;
}
