<main class="flex-wrapper">
  {{#Form title="Вход" onSubmit=onLogin}}
    {{{FormField label="Логин" type="text" name="login" ref="login"}}}
    {{{FormField
      label="Пароль"
      type="password"
      name="password"
      ref="password"
    }}}
    <button type="submit" class="button">Логин</button>
    <button onclick="goToPage('signin')" class="button-link">Нет аккаунта?</button>
  {{/Form}}
</main>