{
  "env": {
    "browser": true,
    "es2021": true,
  },
  "extends": "airbnb",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "max-len": [2, 180],
    "import/prefer-default-export": "off",
    "no-console": ["error", { "allow": ["warn", "table", "error", "info"] }],
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "no-unused-vars": "off",
    "no-use-before-define": "off",
    "default-param-last": "off",
    "class-methods-use-this": "off",
    "quotes": ["error", "double"],
    "camelcase": "off",
  },
  "globals": {
    "it": "readonly",
    "describe": "readonly",
    "expect": "readonly",
    "jest": "readonly",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
  },
}
