<div class="main-page"><aside class="aside">
    <div class="aside__header">
      <div class="aside__header-info">
        <button onclick="goToPage('profile')" class="aside__header-info-button">
          <span class="aside__header-title">Профиль</span>
          <img src="./arrow.svg" alt="arrow" />
        </button>
      </div>
      <input class="input" type="search" />
    </div>
    <ul class="aside__dialogs">
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
      <li>
        <div class="aside__dialog">
          <div class="aside__dialog-avatar">
          </div>
          <div class="aside__dialog-content">
            <b class="aside__dialog-name">Константик Константинопольский</b>
            <p class="aside__dialog-preview">Друзья, у меня для вас особенный
              выпуск новостей!...</p>
          </div>
          <div class="aside__dialog-info">
            <time datetime="">12:00</time>
            <div class="aside__badge">4</div>
          </div>
        </div>
        <hr class="aside__hr" />
      </li>
    </ul>
  </aside>
  <main class="main">
    <div class="main__header">
      <div class="main__dialog-info">
        <div class="main__dialog-name">
          <img src="./avatar-stub.svg" alt="avatar" />
          <span>Вадим</span>
        </div>
        <div class="main__settings">
          <button class="button">...</button>
        </div>
      </div>
      <hr class="main__hr" />
    </div>
    <div class="main__dialog">
      <div class="main__dialog-row center">
        <span>19 июня</span>
      </div>
      <div class="main__dialog-row">
        <span class="message">Привет! Смотри, тут всплыл интересный кусок лунной
          космической истории — НАСА в какой-то момент попросила Хассельблад
          адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
          астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих
          камер все еще находятся на поверхности Луны, так как астронавты с
          собой забрали только кассеты с пленкой. Хассельблад в итоге
          адаптировал SWC для космоса, но что-то пошло не так и на ракету они
          так никогда и не попали. Всего их было произведено 25 штук, одну из
          них недавно продали на аукционе за 45000 евро.</span>
      </div>
      <div class="main__dialog-row">
        <img src="./camera.png" alt="image" />
      </div>
      <div class="main__dialog-row end">
        <span class="message">Привет! Смотри, тут всплыл интересный кусок лунной
          космической истории — НАСА в какой-то момент попросила Хассельблад
          адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
          астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих
          камер все еще находятся на поверхности Луны, так как астронавты с
          собой забрали только кассеты с пленкой. Хассельблад в итоге
          адаптировал SWC для космоса, но что-то пошло не так и на ракету они
          так никогда и не попали. Всего их было произведено 25 штук, одну из
          них недавно продали на аукционе за 45000 евро.</span>
      </div>
    </div>
    <hr class="main__hr" />
    <div class="main__dialog-form">
      {{#Form onSubmit=onSend style=style}}
        <button class="button button__link">@</button>
        {{{FormField type="text" name="message" ref="message"}}}
        <button class="button button__send" type="submit">></button>
      {{/Form}}
    </div>
  </main>
</div>