.main__dialog-row {
  display: flex;
  flex-grow: 0;
  margin-bottom: 24px;
}

.main__dialog-row.center {
  justify-content: center;
}

.main__dialog-row.end {
  justify-content: end;
}

.message {
  padding: 18px;
  border-radius: 8px;
  background-color: var(--dark-300);
  max-width: 500px;
}
