<main class="flex-wrapper">
  <div class="form">
    <h1 class="h1">404</h1>
    <p class="error-message">Страница не найдена</p>
    <button onclick="goToPage('chat')" class="button-link">Назад к чатам</a>
  </div>
</main>
