<main class="flex-wrapper">
  {{#Form title="Сменить пароль" onSubmit=onChange}}
    {{{FormField
      label="Текущий пароль"
      type="password"
      name="password"
      ref="password"
      value="Password213fsdf"
    }}}
    {{{FormField
      label="Новый пароль"
      type="password"
      name="password_confirm"
      ref="password_confirm"
      value="Password213fsdf"
    }}}
    {{{FormField
      label="Подтвердите пароль"
      type="password"
      name="password_confirm"
      ref="password_confirm"
      value="1Password213fsdf"
    }}}
    <button type="submit" class="button">Сохранить</button>
    {{{Link text="Назад" onClick=goBack}}}
  {{/Form}}
</main>