<main class="flex-wrapper">
  {{#Form title="Сменить пароль" onSubmit=onChange}}
    {{{FormField
      label="Текущий пароль"
      type="password"
      name="password"
      ref="password"
    }}}
    {{{FormField
      label="Новый пароль"
      type="password"
      name="password_confirm"
      ref="password_confirm"
    }}}
    {{{FormField
      label="Подтвердите пароль"
      type="password"
      name="password_confirm"
      ref="password_confirm"
    }}}
    <button type="submit" class="button">Сохранить</button>
    <button onclick="goToPage('profile')" class="button-link">Назад</button>
  {{/Form}}
</main>