<div class="field">
  <label class="label" for="">{{label}}</label>
  {{{Input
    name=name
    type=type
    value=value
    style=style
    ref="input"
    onBlur=onBlur
    value=value
    placeholder=placeholder
  }}}
  {{#if error}}<span class="error-label">{{error}}</span>{{/if}}
</div>